/*
INSPO COLORS FOR SITE:

Mac Silver: #DFE0E2
Yamazaki wood: #F8DEB7

Sacred Heart/Virgen de Gudalupe Stickers: teal: 559893, red: CB1117, orange: F18E00, pink: EDC8D0

text: 28282a - black
pink: f8ecf8
visited teal: 077878
primary link color: 09489F - blue 
green: 2e8540

*/

:root {
    --primary-color: #f8ecf8;
    --bg-color: #fff;
    --primary-text-color: #28282a;

    --primary-link-color: #09489F;
    --visited-link-color: #077878;
    --active-link-color: #2e8540;
    
    --font-weight-bold: bold;
    --font-weight-primary: 400;
    --align-center: center;
    --bx-shdw-5-10-18: 5px 10px 18px #888888;
}

/*  TO USE THE ABOVE 
Declare variable as value, ex:

a {
    color: var(--primary-color);
}    

*/

body {
    background-color: var(--bg-color) ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-variant: small-caps;
    color: var(--primary-text-color) ;
    line-height: 20px;
    border: solid 2px red;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* values: header, main, footer */
    

}

main {
    display: grid;
    place-items: center;
    border: solid 2px orange;
    height: auto;
}

/* To fix the re-sisizing issues of footer vs page
#index-html, #about-html, #contact-html, #work-html {
    position: absolute;
    min-height: 100vh;
}
#profile, #about-me, #project-list, #contact {
    padding-bottom: 2.5rem;
} */


* {
    box-sizing: border-box;
} 

a {
    text-decoration: none;
    color: var(--primary-link-color);
}

a:visited {
    color: var(--visited-link-color);
}

a:hover, a:focus {
    text-decoration: none;
    cursor: pointer;
}

a:active {
    color: var(--active-link-color);
}

ul {
    list-style-type: none;
} 

/* HEADER */

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

/* BODY CONTENT */

/* .main-profile {
    transform: translate(0%, 50%);
} */

.profile__portrait {
    float: left;
    height: 200px;
    border-radius: 50% 50%;  

}


.profile {
    max-width: 700px;
    /* align-items: center; */
    /* margin: auto; */
    /* margin-bottom: 35%; */
    padding: 35px;
    background-color: var(--bg-color);
    box-shadow: var(--bx-shdw-5-10-18);
    display: flex;
    align-items: center;
    gap: 10px;
}

.bio-info {
    text-align: var(--align-center);
    background-color: var(--bg-color);
    box-shadow: var(--bx-shdw-5-10-18);
    padding: 10px;
    width: 50%;
    margin: 5% auto;
}

.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 30px;
    margin-bottom: 10%
}

.project-list__item {
    background-color: var(--primary-color);
    box-shadow: var(--bx-shdw-5-10-18);
    padding: 10px;

}

.project-list__item:nth-child(2) {
    grid-column-start: 2; 
    grid-column-end: 2;
    /* can be written shorthand like: grid-column 2/2 */
    grid-row-start: 1;
    grid-row-end: 4;
    /* can be written shorthand like: grid-row 1/4 */
}


.contact {
    display: flex;
    flex-direction: column;
    text-align: var(--align-center);
    margin: 4em 4em;
}

#contact-form {
    background-color: var(--primary-color);
    box-shadow: var(--bx-shdw-5-10-18);
    text-align: var(--align-center);
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
}

input, textarea, label {
    align-items: center;
    margin: 0 35%;
}


/* ANIMATIONS */
@keyframes city-spin {
    from {
        transform: rotate(180deg);
    }
}

.one-way-sign {
    animation-duration: 2s;
    animation-name: city-spin;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

@keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }

  .sun {
    animation-duration: 10s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes m-move {
    from {
        transform: scale(1.1, 1);
    }
  }

  .m-miami {
    animation: 1s m-move infinite alternate linear;
  }

@keyframes boat-move {
    from {
        transform: translate(50px, 0);
    }
    to {
        transform: translate(-50px, 0)
    }
}

.boat {
    animation: 15s boat-move infinite alternate linear;
}



@keyframes cloud-move {
    from {
        transform: scale(2, 0)
    }
  
}


.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}


#where-from {
 width: 500px;
}

.where-lived {
    text-align: var(--align-center);
    background-color: var(--bg-color);
    box-shadow: var(--bx-shdw-5-10-18);
    width: 80%;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(100px, 48px);
    }
    to {
        transform: scale(2, 1);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}


.about-me, .work-page {
    text-align: var(--align-center) ;
}


/* FOOTER */
.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: var(--align-center);
    /* position: fixed; */
    width: 100%;
    /* bottom: 0; */
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    font-weight: bold;
}

.contact-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: var(--align-center);
    /* position: fixed; */
    width: 100%;
    /* bottom: 0; */
    background-image: linear-gradient(to top, rgba(248, 236, 248, 1), rgba(255, 255, 255, 0));
    font-weight: bold;
}


/* BUTTONS */

#resume-button,
.message-submit-button {
    border: none;
    font-family: inherit;
    background-color: var(--primary-link-color);
    color: white;
    /* When I try to use a variable for color above, it's overriden by the black text of the body block */
    font-variant:small-caps;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    /* transition-duration: 0.9s;
    transition-property: opacity; *** CAN BE WRITTEN AS: */ 
    transition: 0.2 opacity;
}

#resume-button:hover, .resume-button:focus,
.message-submit-button:hover, .message-submit-button:focus {
    cursor: pointer;
    opacity: 0.8;
 
    /* box-shadow: 12px 12px 2px 1px rgba(232, 157, 232, 0.2); */
}

#resume-button:active,
.message-submit-button:active {
    background-color: var(--active-link-color);
    box-shadow: none;
    transform: translateZ(4px);
  }

#resume-button {
    margin: auto;
}

/* LOGO */
#logo {
    height: 80px;
}

/* MEDIA SIZING */

@media all and (max-width: 750px) {
    .project-list {
        grid-template-columns: 1fr;
    }

    .project-list {
        grid-gap: 10px;
    }
    
    .project-list:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }

    .project-list__item:nth-child(2) {
        display: none;
    }

    .main-profile {
        text-align: var(--align-center);
        font-size: 12px;
    }

    .profile__portrait {
        float: none;
    }   
    
    article {
        font-size: 16px;
    } 

    #here {
        font-size: 16px;;
    }

    h1 {
        font-size: 22px;
    }

    a {
        font-size: 14px;
    }
}

/* In the future!! :

1. Design for the smallest screen first, and
2. Build in most og CSS possible beofre adding fun flex and grid. 

*/















